<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <link rel="stylesheet" href="../statics/css/login.css">

    <div class="main">
        <div class="logo">
            <img src="../statics/src/logo.png" alt="logo de livros e brilhinho">
            <h1>Faça seu Login:</h1>
        </div>
        <div class="inputs">
            <input type="text" name="nome" placeholder="Digite seu nome">
            <input type="password" name="senha" placeholder="Digite sua senha">
        </div>
        <div class="clickable">
         <button type="button" >Entrar</button>
        </div>
    </div>
    
</body>
</html>