body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Kokoro', sans-serif;
    font-weight: 40; 
}

.main {
    background-color: #1a1f36;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 5px;
}

.logo h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.inputs input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inputs input:focus {
    outline: none;
    border-color: #B298DC;
}

.clickable {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #B298DC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b8a0de;
}

a {
    display: block;
    margin-top: 10px;
    color: #B298DC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
